

.gallery {
    background-color: var(--bg-section);
    z-index: -3;
}


.gallery-box {
    margin: 30px 10px ;
    transition: 1s 0.5s linear;
    background-color: white;
    padding: 10px;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
}

.gallery-box:hover  {
    box-shadow: var(--fav-shadow );
   
}


.gallery-box img  {
    width: 300px;
    max-width: 100%;
    transition: 1s 0.5s linear;
}


.gallery-box:hover img {
    /* border-radius: 50px !important; */
    transform: rotate(2deg) 
}



/* override before after code ... to handle bg color gray . */

.gallery .container .main-title h1  {
    z-index: 4 ;
}

.gallery .container .main-title h1::before ,
.gallery .container .main-title h1::after {
  z-index: -2 ;
}

/*=====================================================*/