


.status {
    min-height: 300px;
    padding: 70px 0;
    background-image: url(../img/stats.jpg);
    background-size: cover;
    position: relative;
}


.status::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(128 128 128 / 39%);;
    width: 100%;
    height: 100%;
    
}

.status .container {
    position: relative;
}


.status .container h2 {
    font-size: 40px;
    margin-bottom: 40px;
}


.statues-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse ;
    gap: 30px;
}




.statues-holder .stat-box {
    background-color: white ;
    padding: 30px 15px;;
    position: relative;
    width: 300px;
    border-radius: 6px;
    opacity: 0.8;
    overflow: hidden;
}


.statues-holder .stat-box::before
{
    content: "";
    position: absolute;    
    width: 0;
    height: 0;
    background-color: var(--main-color);
    bottom: 0 ;
    left: 0 ;
    transition: 1s 0.5s ease-in-out;
}


 .statues-holder .stat-box:hover::before {
    width: 3% ;
    height: 100%  ;
}



.statues-holder .stat-box::after {
    content: "";
    position: absolute;    
    width: 0;
    height: 0;
    background-color: var(--main-color);
    top: 0 ;
    right: 0 ;
    transition: 1s 0.5s ease-in-out;
}


.statues-holder .stat-box:hover::after {
    width: 3%  ;
    height: 100% ;
}
 




.statues-holder .stat-box p {
    font-size: 50px;
}

.statues-holder .stat-box em {
    color: var(--main-color);
    display: block;
    font-size: 20px;
    text-sty

}






