


.work {
    background-color: var(--bg-section);
}



.work-box {
    /* background-color: white; */
    /* padding: 5px; */
    max-width: 600px;
 
}


.work-boxes .work-box:not(:last-child) {
    margin-bottom: 20px;
}

.work-box .work-content {
    background-color: #f6f5f5;
    padding: 30px;
    border: 3px solid white;
    transition: 1s 1s linear;
}

.work-box .work-content:hover {
    border: 5px double var(--main-color) ;
}



.work-box  img {
    width: 70px;
    margin-right: 50px;
}







.work-box .work-info {

}


.work-box .work-info h3 {
    margin: 0 auto 15px;
    font-size: 20px;
    font-weight: 700
}



.work-box .work-info p {
    color: var( --ph-color);
    line-height: 1.7;
}





 

